.container {
  background-image: url('/pattern.jpg');
  text-align: center;
}

.header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.logo {
  height: 45vmin;
}

.description {
  font-size: x-large;
  text-shadow: 0 0 6px #000000, 0 5px 15px #FECB33;
}

.win {
  text-shadow: 0 0 6px #000000, 0 5px 19px #00FF00 !important;
}

.description-size {
  width: 60%;
  padding-top: 10px;
  padding-bottom: 10px;
}
